<nav class="navbar fixed-bottom navbar-light bg-light border-top">
  <div class="container-fluid d-flex justify-content-around">
    <a routerLink="/home" routerLinkActive="text-primary active-link" [routerLinkActiveOptions]="{exact: true}"
      class="nav-link text-secondary">
      <i class="fas fa-th-large"></i>
    </a>
    <a routerLink="/mis-pagos" routerLinkActive="text-primary active-link" [routerLinkActiveOptions]="{exact: true}"
      class="nav-link text-secondary">
      <i class="fas fa-wallet"></i>
    </a>
    <a routerLink="/mis-facturas" routerLinkActive="text-primary active-link" [routerLinkActiveOptions]="{exact: true}"
      class="nav-link text-secondary">
      <i class="fas fa-receipt"></i>
    </a>
    <a routerLink="/my-account" routerLinkActive="text-primary active-link" [routerLinkActiveOptions]="{exact: true}"
      class="nav-link text-secondary">
      <i class="fas fa-user-circle"></i>
    </a>
  </div>
</nav>